$main-bg-color: #f2f8ff;
$primary-color: #378ce7;
$auxiliary-color: #81bdff;
$default-font-color: #444;
$dark-grey: #7c7c7c;
$light-grey: #c7c7c7;
$box-shadow-color: #0000000a;
$warning-color: #df5e82;