* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-size: $default-heading;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: $default-font-color;

  img {
    display: block;
  }
}
