* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
    font-size: 12px;
}

body {
  font-weight: normal;
  font-family: "Inter", sans-serif;
  color: $default-font-color;

  img {
    display: block;
  }

  button {
    cursor: pointer;
  }
}
