@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  line-height: 1.4;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  color: #444;
  -webkit-tap-highlight-color: transparent;
}
body img {
  display: block;
  user-select: none;
  pointer-events: none;
}
body button {
  cursor: pointer;
}
body input {
  outline: none;
}
body button {
  transition: filter 0.3s;
}
body button:focus, body button:active, body button:hover {
  outline: none;
  filter: brightness(90%);
}

.money-saver-main-container {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f8ff;
}
.money-saver-main-container .logotype {
  width: 250px;
  margin: 0 auto;
  padding: 3rem 0 2rem;
}
.money-saver-main-container .money-saver-app {
  display: flex;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.money-saver-main-container .money-saver-app .savings-content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 425px;
  height: 130px;
  padding: 1.7rem 2.7rem 1.3rem;
  flex-direction: column;
  gap: 10px;
  border-radius: 35px;
  box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.0392156863);
  background-image: linear-gradient(135deg, #378ce7, #81bdff);
}
.money-saver-main-container .money-saver-app .savings-content .heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f2f8ff;
}
.money-saver-main-container .money-saver-app .savings-content .value {
  align-self: flex-end;
  font-size: 2.6rem;
  font-weight: bold;
  color: #f2f8ff;
}
.money-saver-main-container .money-saver-app .savings-content .emojis {
  position: absolute;
  width: 4rem;
  top: -1.6rem;
  right: 1rem;
}
.money-saver-main-container .money-saver-app .savings-content .emojis .emoji {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.money-saver-main-container .money-saver-app .savings-content .emojis .emoji.sad-emoji {
  opacity: 0;
}
.money-saver-main-container .money-saver-app .savings-content .emojis .emoji.sad-emoji.visible {
  opacity: 1;
}
.money-saver-main-container .money-saver-app .savings-content .emojis .emoji.smile-emoji {
  opacity: 0;
}
.money-saver-main-container .money-saver-app .savings-content .emojis .emoji.smile-emoji.visible {
  opacity: 1;
}
.money-saver-main-container .money-saver-app .app-element {
  width: 100%;
  max-width: 600px;
  padding: 1.7rem 2rem;
  border-radius: 35px;
  box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.0392156863);
  background-color: #fff;
}
.money-saver-main-container .money-saver-app .app-element .element-heading {
  padding-bottom: 1.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
}
.money-saver-main-container .money-saver-app .app-element .element-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.4rem;
}
.money-saver-main-container .money-saver-app .app-element .element-form input {
  padding: 1.1rem 0.8rem;
  border: 1px solid #c7c7c7;
  border-radius: 14px;
  font-size: 0.8rem;
  color: #7c7c7c;
  transition: border-color 0.3s;
}
.money-saver-main-container .money-saver-app .app-element .element-form input.name-input {
  grid-area: 1/1/2/5;
}
.money-saver-main-container .money-saver-app .app-element .element-form input.value-input {
  grid-area: 1/5/2/7;
}
.money-saver-main-container .money-saver-app .app-element .element-form input.error {
  border-color: #df5e82;
}
.money-saver-main-container .money-saver-app .app-element .element-form input:focus, .money-saver-main-container .money-saver-app .app-element .element-form input:active {
  border-color: #378ce7;
}
.money-saver-main-container .money-saver-app .app-element .element-form .add-to-list-btn {
  grid-area: 2/1/3/7;
  padding: 1.1rem 0.8rem;
  border: 0;
  border-radius: 14px;
  background-color: #378ce7;
  font-weight: bold;
  color: #fff;
}
.money-saver-main-container .money-saver-app .app-element .separator {
  width: 100%;
  height: 1px;
  margin: 1.7rem 0;
  background-color: #c7c7c7;
}
.money-saver-main-container .money-saver-app .app-element .list {
  display: flex;
  height: 18rem;
  padding: 0 0.5rem 0.5rem 0;
  flex-direction: column;
  gap: 0.4rem;
  overflow: auto;
  list-style-type: none;
  scrollbar-gutter: gutter;
  scrollbar-width: thin;
  scrollbar-color: #7c7c7c;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element {
  display: flex;
  width: 100%;
  padding: 0.8rem 1rem;
  align-items: center;
  border-radius: 14px;
  background-color: #f2f8ff;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.fade-in {
  animation: fadeIn 0.7s forwards ease-in;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element .name {
  padding-right: 0.4rem;
  word-break: break-word;
  font-weight: 600;
  font-size: 0.9rem;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element .buttons {
  display: flex;
  margin-left: auto;
  gap: 0.3rem;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element .buttons button {
  padding: 0.9rem;
  border: none;
  border-radius: 0.8rem;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 600;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element .buttons button.edit-btn {
  border: 1px solid #7c7c7c;
  color: #7c7c7c;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element .buttons button.remove-btn {
  background-color: #df5e82;
  color: #fff;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited {
  display: flex;
  padding: 0.8rem 0.6rem;
  gap: 0.4rem;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited input {
  padding: 0.9rem 0.5rem;
  border: 1px solid #7c7c7c;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 0.8rem;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited input.new-name {
  width: 45%;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited input.new-value {
  width: 30%;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited input.error {
  border-color: #df5e82;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited input:focus, .money-saver-main-container .money-saver-app .app-element .list .list-element.edited input:active {
  border-color: #378ce7;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited button {
  width: 12.5%;
  height: 100%;
  border: none;
  border-radius: 0.8rem;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited button.accept {
  background: #378ce7 url("../../images/accept.svg") no-repeat center center/cover;
}
.money-saver-main-container .money-saver-app .app-element .list .list-element.edited button.decline {
  background: #df5e82 url("../../images/decline.svg") no-repeat center center/cover;
}
.money-saver-main-container .money-saver-app .app-element .sum {
  margin-top: 2.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.money-saver-main-container .money-saver-app .app-element .sum .font-bold {
  font-weight: bold;
}
.money-saver-main-container .notifications {
  position: fixed;
  display: flex;
  width: 60%;
  max-width: 300px;
  height: 100vh;
  padding: 200px 0 0 1rem;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 1rem;
  pointer-events: none;
}
.money-saver-main-container .notifications .notification-tile {
  display: flex;
  max-height: 70px;
  height: 100%;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-color: rgba(223, 94, 130, 0.8);
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  animation: fadeIn 0.5s forwards ease-in;
  pointer-events: auto;
  cursor: pointer;
}
.money-saver-main-container .notifications .notification-tile.fade-out {
  animation: fadeOut 0.5s forwards ease-out;
}
@keyframes fadeOut {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  70% {
    max-height: 70px;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    max-height: 0;
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  60% {
    transform: translateX(10%);
    opacity: 1;
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 425px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 960px) {
  .money-saver-main-container .money-saver-app {
    display: grid;
    max-width: 1170px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .money-saver-main-container .money-saver-app .savings-content {
    margin: 0 auto;
    grid-area: 1/1/2/3;
  }
}

/*# sourceMappingURL=main.css.map */
